# And then the virtual environment can be created by running:
#  python3.10 -m venv .venv
# .venv/bin/pip install --upgrade pip
# .venv/bin/pip install -r requirements.txt

# Then use .venv/bin/python to run the various training scripts.
blosc>=1.8.1
diskcache>=5.2.1 #diskcache==4.1.0
h5py>=3.1.0 #h5py
jupyter
matplotlib>=3.4.3 #matplotlib
numpy>=1.21.0 #numpy<=1.16.4
Pillow>=8.3.2 #Pillow
scikit-image>=0.18.3 #scikit-image>=0.15.0
scipy>=1.7.1 # scipy
SimpleITK>=2.0.2 # SimpleITK
tensorflow>=2.7.0 # tensorflow>=1.14

# The book was written targeting PyTorch 1.4, but everything in it should work fine with more up-to-date versions.
torch>=1.10.0 # torch==1.4

# future is here due to a missing dep in caffe2
# future
